.pass-eye {
  position: absolute;
  top: 11px;
  right: -22px;
}

.pass-eye.check {
  top: 10 !important;
  width: 1.2em;
  height: 1.2em;
  opacity: 0;
  cursor: pointer;
}

.my-breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
}
.my-breadcrumb > li {
  display: inline;
  padding-left: 5px;
  font-size: 1.1em;
}
.my-breadcrumb > li > a {
  text-decoration: none;
}
