.pass-eye {
  position: absolute;
  top: 11px;
  right: -22px;
}

.pass-eye.check {
  top: 10 !important;
  width: 1.2em;
  height: 1.2em;
  opacity: 0;
  cursor: pointer;
}

.my-breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
}
.my-breadcrumb > li {
  display: inline;
  padding-left: 5px;
  font-size: 1.1em;
}
.my-breadcrumb > li > a {
  text-decoration: none;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.calendar-header {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
  grid-template-rows: 60px;
  justify-items: center;
  align-items: center;
  gap: 5px;
}
.calendar-date {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px;
  gap: 5px;
}
.calendar-date > .item {
  border: solid 1px #ddd;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  cursor: pointer;
}

#jadwal-detail li > .detail-label {
  font-size: 0.9em;
}
#btn-jadwal > button {
  font-size: 0.7em;
  padding: 3px 5px;
  padding-bottom: 1px;
  margin: 13px 2px;
}

#btn-jadwal > button#edit-jadwal {
  padding-right: 2px;
}
#btn-jadwal {
  position: absolute;
  right: 10px;
  top: 0;
  height: 48px;
  /* display: none; */
}
